{%extends 'all-photos/base.html'%}

{% block content %}
{{block.super}}
<div class="container-fluid">

    <div class="grid">
        <div class="grid-sizer"></div>
        {% for image in images %}
        <div class="grid-item">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img src="{{image.image_file.url}}" class="img-responsive" alt="Image">
            </div>

            <!-- <img src="{{image.image_file.url}}" data-toggle="modal" data-target="#img{{image_item.id}}" /> -->
        </div>

        {% endfor %}
    </div>
    

</div>
{% endblock %}