{%extends 'all-photos/base.html'%}
{% block content %}

<div class="">
    {% if images %}
    <div class="jumbotron jumbotron-fluid bg-dark">
        <div class="">
            <h2 class="display-5 text-center font-weight-bold text-white">Found {{ images|length }} images for searched
                term</h2>
                <h2>{{message}}</h2>
        </div>
    </div>
    {% else %}
    <div class="jumbotron jumbotron-fluid bg-dark">
        <div class="">
            <h2 class="display-5 text-center font-weight-bold text-white">Found 0 images for the searched term
            </h2>
            <h2>{{message}}</h2>
        </div>
    </div>
    {% endif %}

</div>

<div class="container-fluid">
    {% for image in images %}
    <h1>{{image.image_name}}</h1>
    {% endfor %}
</div>
{% endblock %}